<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>974596235185-33ukp2kpggl7kpri51dbe2pt17gckv2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974596235185-33ukp2kpggl7kpri51dbe2pt17gckv2p</string>
	<key>API_KEY</key>
	<string>AIzaSyC21qKL4-AxFCM5fhIOxSS_EHAj4laJOsc</string>
	<key>GCM_SENDER_ID</key>
	<string>974596235185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shOUT.iOS</string>
	<key>PROJECT_ID</key>
	<string>shout-b8c83</string>
	<key>STORAGE_BUCKET</key>
	<string>shout-b8c83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:974596235185:ios:4ece8b36142c860f</string>
	<key>DATABASE_URL</key>
	<string>https://shout-b8c83.firebaseio.com</string>
</dict>
</plist>
